<footer>

  <form>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="enter name" required>

    <label for="email">Email</label>
    <input id="email" type="email" name="email" placeholder="enter email" required>

    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="enter your message" required></textarea>

    <input type="submit" name="submit" value="Submit">

  </form>


  <a target="_blank" href="https://www.facebook.com">Facebook</a>
  <a target="_blank" href="https://www.instagram.com">Instagram</a>
  <a target="_blank" href="http://www.twitter.com">Twitter</a>
  <a target="_blank" href="https://www.pinterest.com">Pinterest</a>

  <img src="images/logo.png" alt="Logo">
</footer>
