<footer>

  <a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a target="_blank" href="https://www.instagram.com">Instagram</a>
  <a target="_blank" href="http://www.twitter.com">Twitter</a>
  <a target="_blank" href="https://www.pinterest.com">Pinterest</a>

  <img class="logo-image logo-image-footer" src="images/logo.png" alt="logo">

<i class="fa fa-facebook" aria-hidden="true"></i>


</footer>

<!-- Adding Jquery Library -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.3/isotope.pkgd.min.js"></script>

<!-- Adding main.js file -->
<script src="/js/main.js"></script>
